@import "../../assets/styles/index.scss";

.grid {
  max-width: 1288px;
  margin: 0 auto;
  padding: $grid-xs-gap $grid-xs-paddings;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-#{$grid-xs-gap} / 2);
    margin-right: calc(-#{$grid-xs-gap} / 2);
    margin-top: -#{$grid-xs-gap};

    & > * {
      padding-left: $grid-xs-gap / 2;
      padding-right: $grid-xs-gap / 2;
      padding-top: $grid-xs-gap;
      width: 100%;
    }
  }

  .col {
    flex: 0 1 100%;
    max-width: 100%;
  }
}

@include screen-min(xs) {
  .grid {
    @each $col in $cols {
      .col-xs-#{$col} {
        flex: 0 0 calc(100% / (12 / #{$col}) - #{$grid-xs-gap});
        max-width: calc(100% / (12 / #{$col}) - #{$grid-xs-gap});
      }
    }
  }
}

@include screen-min(sm) {
  .grid {
    padding: $grid-xs-gap $grid-sm-paddings;

    @each $col in $cols {
      .col-sm-#{$col} {
        flex: 0 0 calc(100% / (12 / #{$col}) - #{$grid-xs-gap});
        max-width: calc(100% / (12 / #{$col}) - #{$grid-xs-gap});
      }
    }
  }
}

@include screen-min(md) {
  .grid {
    padding: $grid-xs-gap $grid-md-paddings;

    @each $col in $cols {
      .col-md-#{$col} {
        flex: 0 0 calc(100% / (12 / #{$col}) - #{$grid-xs-gap});
        max-width: calc(100% / (12 / #{$col}) - #{$grid-xs-gap});
      }
    }
  }
}

@include screen-min(lg) {
  .grid {
    padding: $grid-lg-gap $grid-lg-paddings;

    &__wrapper {
      margin-left: calc(-#{$grid-lg-gap} / 2);
      margin-right: calc(-#{$grid-lg-gap} / 2);
      margin-top: -#{$grid-lg-gap};

      & > * {
        padding-left: $grid-lg-gap / 2;
        padding-right: $grid-lg-gap / 2;
        padding-top: $grid-lg-gap;
      }
    }



    @each $col in $cols {
      .col-lg-#{$col} {
        flex: 0 0 calc(100% / (12 / #{$col}) - #{$grid-lg-gap});
        max-width: calc(100% / (12 / #{$col}) - #{$grid-lg-gap});
      }
    }
  }
}

@include screen-min(xl) {
  .grid {
    @each $col in $cols {
      .col-xl-#{$col} {
        flex: 0 0 calc(100% / (12 / #{$col}) - #{$grid-lg-gap});
        max-width: calc(100% / (12 / #{$col}) - #{$grid-lg-gap});
      }
    }
  }
}