@import "../../assets/styles/index.scss";

.card {
  background-color: transparent;
  color: #004152;

  &--white {
    background-color: #ffffff;
  }

  &__image {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;

    img {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      object-fit: cover;
      color: transparent;
    }
  }

  &__wrapper {
    padding: $grid-xs-gap 0 0;

    &--with-paddings {
      padding: $grid-xs-gap;
    }

    &__title {
      margin: 0 0 16px;
      font-weight: 500;
      font-size: 20px;
      line-height: 1.3;
    }

    &__text {
      margin-top: 0;
      margin-bottom: 16px;
      font-weight: 400;
      line-height: 1.4;
    }

    &__price-title {
      margin-bottom: 4px;
    }

    &__price {
      margin-bottom: 16px;
      white-space: nowrap;
      font-size: 24px;
      font-weight: 600;

      span {
        font-size: 20px;
        font-weight: 600;
      }
    }

    &__link {
      color: #009d85;
      text-decoration: unset;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.4;

      &:after {
        content: " →";
      }
    }
  }
}

@include screen-min(lg) {
  .card {
    &__wrapper {
      padding: $grid-lg-gap 0 0;

      &--with-paddings {
        padding: $grid-lg-gap;
      }
    }
  }
}